site_name: PROMETRY Documentation
site_description: A library to calculate geometric parameters of protein structures and perform criteria search
site_author: Rachel Alcraft
site_url: https://prometry.streamlit.app

repo_name: rae-gh/app-prometry
repo_url: https://github.com/rae-gh/app-prometry
edit_uri: edit/main/docs/

theme:
  name: material
  palette:
    - scheme: default
      primary: amber
      accent: light blue
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: amber
      accent: light blue
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.top
    - search.suggest
    - search.highlight
    - content.tabs.link
    - content.code.annotation
    - content.code.copy
  language: en
  icon:
    repo: fontawesome/brands/github

nav:
  - Home: index.md  
  - About:
      - Citation: about/citation.md
      - License: about/license.md

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - admonition
  - pymdownx.details
  - pymdownx.arithmatex:
      generic: true
  - footnotes
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  - attr_list
  - md_in_html
  - toc:
      permalink: true

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          paths: [app]

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/rae-gh/app-prometry
    - icon: fontawesome/brands/python
      link: https://pypi.org/project/prometry/
  version:
    provider: mike

extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

copyright: Copyright &copy; 2023 Rachel Alcraft
